<app-header title="ESTUDIOS" slot="start"></app-header>
<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Enseñanza media</ion-card-title>
      <ion-card-subtitle>2014-2017</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Estudie en el liceo comercial Ñuñoa, estudie la especialidad de administración de empresas con mencion en recursos humanos.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Educacion superior(Tecnico)</ion-card-title>
      <ion-card-subtitle>2018-2020</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Estudie analista programador en IPCHILE, me titule en el año 2020.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Educacion superior(Ingenieria)</ion-card-title>
      <ion-card-subtitle>2023-ACTUALID</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    Actualmente me encuentro estudiando ingenieria en informatica en IPCHILE.
    </ion-card-content>
  </ion-card>
</ion-content>
