<app-header title="HOBBIES" slot="start"></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
   <!-- <img alt="Tenis de Mesa" src="../../media/tenis_de_mesa.jpg" /> -->
    <ion-card-header>
      <ion-card-title>Tenis de mesa </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Me gusta jugar tenis de mesa, lo practico desde hace mas de 5 años, me gusta mucho porque es un deporte que requiere mucha concentración y habilidad.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Futbol </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      me gusta el fulbol, lo practico desde hace mas de 10 años, me gusta mucho porque es un deporte que requiere mucha concentración y habilidad.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Video juegos </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      me gustan mucho los video juegos, ahora estoy jugando mucho mount and blade bannerlord, me gusta mucho porque es un juego que requiere mucha concentración y habilidad.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ciclismo </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Me gusta mucho andar en bicicleta, ando hace mas de 5 años y me gusta el cicloturismo, y el ciclismo urbano, actualmente tengo una bicicleta piñon fijo con la cual me muevo por la ciudad en mi dia a dia.
    </ion-card-content>
  </ion-card>
</ion-content>
